<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joewang.repast.mapper.Cart_itemMapper">
  <resultMap id="BaseResultMap" type="com.joewang.repast.model.CartItem">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="product_sku_id" jdbcType="BIGINT" property="productSkuId" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="shop_id" jdbcType="BIGINT" property="shopId" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="sp1" jdbcType="VARCHAR" property="sp1" />
    <result column="sp2" jdbcType="VARCHAR" property="sp2" />
    <result column="sp3" jdbcType="VARCHAR" property="sp3" />
    <result column="product_pic" jdbcType="VARCHAR" property="productPic" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_sub_title" jdbcType="VARCHAR" property="productSubTitle" />
    <result column="product_sku_code" jdbcType="VARCHAR" property="productSkuCode" />
    <result column="member_nickname" jdbcType="VARCHAR" property="memberNickname" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    <result column="product_category_id" jdbcType="BIGINT" property="productCategoryId" />
    <result column="product_brand" jdbcType="VARCHAR" property="productBrand" />
    <result column="product_sn" jdbcType="VARCHAR" property="productSn" />
    <result column="product_attr" jdbcType="VARCHAR" property="productAttr" />
    <result column="product_service" jdbcType="INTEGER" property="product_service" />
  </resultMap>
  <select id="selectAllCartItem" resultType="HashMap" parameterType="long">
         SELECT a.*,b.*,c.* from oms_cart_item a
            JOIN pms_product b on a.product_id =b.id
            JOIN ums_shop_information c on b.shop_id=c.id where a.member_id=#{memberid} and a.delete_status=0
  </select>
  <select id="selectProductStock" resultType="Integer" parameterType="long">
        SELECT stock from pms_product where id=#{productid}
  </select>
  <update id="reduceProductStock">
    UPDATE pms_product set stock=#{stock} where id=#{productid}
  </update>
  <select id="selectMemberByMemberIdProId" parameterType="com.joewang.repast.model.CartItem" resultMap="BaseResultMap">
    SELECT
	cart.*,
	stock
FROM
	oms_cart_item cart
	INNER JOIN pms_product pt
WHERE
	pt.id = cart.product_id
	AND cart.delete_status = 0
	AND pt.delete_status = 0
	AND product_id = #{productId}
	AND cart.member_id = #{memberId}
  </select>
  <insert id="addCartPro" parameterType="com.joewang.repast.model.CartItem">
    insert into oms_cart_item(product_id,product_sku_id,member_id,shop_id,quantity,price,sp1,sp2,sp3,product_pic,product_name,product_sub_title,product_sku_code,member_nickname,create_date,delete_status,product_category_id,product_brand,product_sn,product_attr,product_service_status)
    values (#{productId},#{productSkuId},#{memberId},#{shopId},#{quantity},#{price},#{sp1},#{sp2},#{sp3},#{productPic},#{productName},#{productSubTitle},#{productSkuCode},#{memberNickname},#{createDate},#{deleteStatus},#{productCategoryId},#{productBrand},#{productSn},#{productAttr},#{productServiceStatus})
  </insert>
  <update id="upDateCart" parameterType="com.joewang.repast.model.CartItem">
   UPDATE oms_cart_item
   SET quantity = #{quantity},modify_date = #{modifyDate} where product_id = #{productId} AND member_id = #{memberId} AND delete_status = 0
  </update>

  <delete id="deleteCart" parameterType="com.joewang.repast.model.CartItem">
    delete from oms_cart_item where product_id = #{productId} AND member_id = #{memberId}
  </delete>

  <update id="clearCart" parameterType="com.joewang.repast.model.CartItem">
   UPDATE oms_cart_item
   SET delete_status = #{deleteStatus},modify_date = #{modifyDate} where shop_id = #{shopId} AND member_id = #{memberId}
  </update>
</mapper>